@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
   font-family: 'Century Gothic', monospace;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

html {
   background: radial-gradient(circle,  rgb(238 209 174) 0%, rgb(114 91 44) 100%);
   font-size: 62.5%;
   overflow-x: hidden;
}

section {
   padding: 3rem 2rem;
}

.message {
   position: sticky;
   top: 0;
   margin: auto auto;
   background-color: rgba(0, 0, 0, .1);
   padding: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   z-index: 10000;
}

.message span {
   color: var(--black);
   font-size: 2.3rem;
}

.message i {
   cursor: pointer;
   color: var(--red);
   font-size: 2.5rem;
}

.message i:hover {
   transform: rotate(90deg);
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
   display: inline-block;
   margin: 1.5rem;
   padding: 1rem 3rem;
   cursor: pointer;
   color: white;
   font-size: 1.8rem;
   border-radius: 50%;
   text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
   background-color: var(--black);
}

.white-btn,
.btn {
   background-color: #c3b091;
}

.option-btn {
   background-color: #856d4d;
}

.delete-btn {
   background-color: #856d4d;
}

.white-btn:hover {
   background-color: var(--purple);
   color: var(--black);
}

.heading {
   min-height: 30vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   background: url(../images/Beauty-banner.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.heading h3 {
   font-size: 5rem;
   color: var(--black);
   text-transform: uppercase;
}

.heading p {
   font-size: 2.5rem;
   color: var(--dark-bg);
}

.heading p a {
   color: #c3b091;
}

.heading p a:hover {
   text-decoration: underline;
}


.form-container {
   min-height: 100vh;
   background-color: var(--light-bg);
   background-color: #ffd5af;
   background: rgb(238, 174, 202);
   background: radial-gradient(circle, rgb(238 209 174) 0%, rgb(114 91 44) 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}

.form-container form {
   text-align: center;
   width: 60rem;
   padding: 5rem;
   border-radius: .5rem;
   background-color: #836953;
   box-shadow: var(--box-shadow);
}

.form-container form h3 {
   font-size: 3rem;
   color: var(--black);
   margin-bottom: 1rem;
   text-transform: uppercase;
}

.form-container form .box {
   width: 30%;
   background-color:#c3b091;
   padding: 1.4rem 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   border: var(--border);
   margin: 1rem 0;
}

.form-container form p {
   padding-top: 1.5rem;
   font-size: 2rem;
   color: var(--black);
}

.form-container form p a {
   color: #c3b091;
}

.form-container form p a:hover {
   text-decoration: underline;
}


.header .header-2 {
   background-color:rgb(114 91 44);
   box-shadow: var(--box-shadow);
}

.header .header-2.active {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.header .header-2 .flex {
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
}

.header .header-2 .flex .logo {
   font-size: 2.5rem;
   color: #c3b091;
}

.header .header-2 .flex .navbar a {
   margin: 0 1rem;
   font-size: 2rem;
   color: #c3b091;
}

.header .header-2 .flex .navbar a:hover {
   color: #c3b091;
   text-decoration: underline;
}

.header .header-2 .flex .icons>* {
   font-size: 2.5rem;
   color: var(--black);
   cursor: pointer;
   margin-left: 1.5rem;
}

.header .header-2 .flex .icons>*:hover {
   color: #c3b091;
}

#menu-btn {
   display: none;
}

.header .header-2 .flex .user-box {
   position: absolute;
   top: 120%;
   right: 2rem;
   background-color: var(--purple);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border: var(--border);
   padding: 2rem;
   text-align: center;
   width: 30rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .header-2 .flex .user-box.active {
   display: inline-block;
   opacity: 100%;
   z-index: 999;
   background-color: #deb887;
}

.header .header-2 .flex .user-box p {
   font-size: 2rem;
   color: #836953;
   margin-bottom: 1.5rem;
}

.header .header-2 .flex .user-box p span {
   color: white;
}

.header .header-2 .flex .user-box .delete-btn {
   margin-top: 0;
   color: white;
}

.home,
.children,
.babysitters {
   position: relative;
   min-height: 70vh;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .content {
   display: flex; 
   flex-direction: column; 
   gap: 2rem; 
   justify-content: center;
   align-items: center; 
   padding: 2rem;
}

.home .content h3 {
   margin: 0.3rem;
   font-size: 2.5rem;
   color: var(--black);
   text-transform: uppercase;
   text-align: center;
}

.home .content p {
   font-size: 1.8rem;
   color: var(--dark-purple);
   padding: 1rem 0;
   line-height: 1.5;
}

.home .content .menu-element {
   position: relative;
   width: 50rem;
   border: white;
   border-style: solid;
   border-radius: 30%;
   background-color: white;
   z-index: 0;
}

.children .content {
   position: relative;
   text-align: center;
   width: 60rem;
   height: 60rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.children .content h3,
.babysitters .content h3 {
   margin: 0.3rem;
   font-size: 2.5rem;
   color: var(--black);
   text-transform: uppercase;
}

.children .content p,
.babysitters .content p {
   font-size: 1.8rem;
   color: var(--dark-purple);
   padding: 1rem 0;
   line-height: 1.5;
}

.children .content .your-children-container {
   width: 120rem;
   border: #ffffff;
   border-style: solid;
   border-radius: 5rem;
   background-color: white;
   z-index: 0;
}

.children .content .add-child-container {
   position: relative;
   margin-top: 10rem;
   width: 50rem;
   border: #ffffff;
   border-style: solid;
   border-radius: 5rem;
   background-color: white;
   z-index: 0;
}

.registered-children {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.babysitters .content {
   position: relative;
   text-align: center;
   grid-template-rows: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.babysitters .content .menu-element {
   position: relative;
   width: 120rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: #ffffff;
   border-style: solid;
   border-radius: 5rem;
   background-color: white;
   z-index: 0;
}

.menu-element img {
   width: 100%;
   height: auto; 
   max-height: 150px; 
   object-fit: contain; 
   display: block; 
   margin: 0 auto; 
}

table.data-table {
   min-width: 800px;
   font-size: 2rem;
   margin: 2rem;
   border: 2px solid #000000;
   border-left: 0;
   border-right: 0;
   width: 100%;
   text-align: center;
   border-collapse: collapse;
}

table.data-table td,
table.data-table th {
   border: 1px solid #000000;
   border-left: 0;
   border-right: 0;
   padding: 5px 4px;
}

table.data-table thead {
   background-color: #ffd5af;
   background: rgb(226, 178, 136);
   background: radial-gradient(circle, #856d4d 0%, #c3b091 100%);
   border-bottom: 3px solid #000000;
}

table.data-table thead th {
   font-size: 2.1rem;
   font-weight: bold;
   color: #000000;
   text-align: center;
}

table.data-table tfoot td {
   font-size: 14px;
}

tr.suggested-babysitter td {
   border-bottom: 0;
}

tr.suggested-babysitter-selec td {
   border-top: 0;
}

.edit-profile-form,
.add-kid-form,
.log_activity_form {
   min-height: 100vh;
   background-color: rgba(0, 0, 0, .7);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   overflow-y: scroll;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1200;
   width: 100%;
}

.edit-profile-form form,
.add-kid-form form,
.log_activity_form form {
   width: 60rem;
   background-color: #deb887;
   padding: 4rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
}

.edit-profile-form form h3,
.add-kid-form form h3,
.log_activity_form form h3 {
   font-size: 3.5rem;
   color: var(--black);
   margin-bottom: 1rem;
   text-align: center;
}

.edit-profile-form form .box,
.add-kid-form form .box,
.log_activity_form form .box {
   width: 100%;
   padding: 1.4rem;
   margin: 1rem 0;
   font-size: 1.8rem;
   border-radius: .5rem;
   background-color: #c3b091;
   color: var(--black);
}

.edit-profile-form form .box:focus,
.add-kid-form form .box:focus,
.log_activity_form form .box:focus {
   border-color: #856d4d;
}

.edit-profile-form form button,
.add-kid-form form button,
.log_activity_form form button {
   background-color: var(--purple);
   color: white;
   font-size: 1.8rem;
   padding: 1rem 3rem;
   cursor: pointer;
   border-radius: 50%;
   text-transform: capitalize;
   margin-top: 2rem;
}

.edit-profile-form form button:hover,
.add-kid-form form button:hover,
.log_activity_form form button:hover {
   background-color: var(--black);
}

.close-btn {
   position: absolute;
   top: 1rem;
   right: 1rem;
   background-color: var(--red);
   color: white;
   font-size: 2.5rem;
   padding: 1rem;
   cursor: pointer;
   border-radius: 50%;
}

.close-btn:hover {
   background-color: var(--black);
}

